@import url("variables.css");

#AboutProjectText {
    color: #000;
    font-family: var(--noto-font);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
}

#AboutProjectSection > :nth-child(1) {
    /* Need to position it to the right. */
}

#AboutProjectSection .grid-container > :nth-child(1){
    grid-row: 2;
    text-align: left;
}

#AboutProjectSection .grid-container > :nth-child(2) {
    height: 100%;
    grid-row: 2;
}

#AboutProjectSection .grid-container > :nth-child(3) {
    grid-row: 3;
}

