@import url("variables.css");

#AboutProjectText {
    color: #000;
    font-family: var(--noto-font);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
}

#AboutProjectSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr 2fr;
    height: 100vh;
    grid-template-areas: "title title"
                         ".  ."
                         "text  img"
                         "contact ."
                         ". .";
}

/* Title */

#AboutProjectSection > :nth-child(1) {
    grid-area: title;
    justify-self: flex-end;
    align-self: flex-start;
    width: 60%;
}

/* Text */

#AboutProjectSection > :nth-child(2){
    grid-area: text;
    text-align: left;
    max-width: 60%;
    margin: auto;
}

/* Image */

#AboutProjectSection > :nth-child(3) {
    grid-area: img;
    margin: auto; 
    

}

#AboutProjectSection> :nth-child(3) img {
    width: 75%;
    height: auto;
}

/* Contact us */

#AboutProjectSection > :nth-child(4) {
    grid-area: contact;
    justify-content: center;
    width: 57%;
}

