@import url("variables.css");

#projekt {
    display: flex;
    flex-direction: column;
    max-height: none;
    align-content: center;
    justify-content: center;
    position: relative;
}

#stripes_three {
    position: absolute;
    height: 30%;
    top: 150px;
    right: 0px;

}

.project-container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.project-container .align-items-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.project-container .align-items-left {
    padding: 40px;
    width: 30%;
    flex-direction: row;
    align-items: flex-start;
}

.project-container .align-items-left .project-text{
    font-size: var(--font-size-s);
}

.project-container .align-items-right  img{
    width: 80%;
}

.projekt-button {
    width: 100%;
    position: relative;
    right: 100px;
    margin-top: 40px;
}

.projekt-button > a {
    width: 100%;
    text-align: center;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
}



