@import url("variables.css");

.GoalOfTheProjectSection {
    display: flex;
    flex-direction: column;
    max-height: none;
    align-content: center;
    justify-content: center;
    position: relative;
}

.goal > p {
    font-family: var(--noto-font);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
    text-align: left;
}

.goal .goal-headline {
    font-family: var(--oswald-font);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 20px;
    position: relative;
}

.goal .goal-headline::after {
    content: '';
    position: absolute;
    left: 0; bottom: -7px;
    height: 3px;
    background-color: var(--very-light-green);
    width: 40%;
}

.goal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.goal-image {
    order: 2;
    margin-top: 65px;
}

.goal-goals {
    order: 1;
    width: 70%;
}

.goal {
    margin-top: 30px;
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen=B/w 768px to 1024px
*/
