@import url("variables.css");

.GoalOfTheProjectSection {
    display: flex;
    flex-direction: column;
    max-height: none;
    align-content: center;
    justify-content: center;
    position: relative;
    margin-top: -40px;
}

.goal > p {
    font-family: var(--noto-font);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
    text-align: left;
}

.goal .goal-headline {
    font-family: var(--oswald-font);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 20px;
    position: relative;
}

.goal .goal-headline::after {
    content: '';
    position: absolute;
    left: 0; bottom: -7px;
    height: 3px;
    background-color: var(--very-light-green);
    width: 40%;
}

.goal-container {
    display: flex;
    align-items: center;
}

.goal-image {
  align-items: center;
    margin-top: 20px;
    width: 45%;
}

.goal-goals {
  margin-left: 80px;
  width: 50%;
}

.goal {
    margin-top: 30px;
}

@media (max-width: 1024px) {

  .goal-container {
      flex-direction: column;
  }

  .goal-image {
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  .goal-goals {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen=B/w 768px to 1024px
*/
