@import url("variables.css");

/* home section styling */
#home{
    height: 100vh;
    
    font-family: var(--oswald-font)
}
 .mySlides {
     display: block;
     max-width: 550px;
     position: relative;
     left: 55%;
     top: 10%;
 }

 .mySlides img {
     width: 100%;
     height: auto;
 }
 .mySlides img.quotationMark {
     height: 100px;
     width: 100px;
     position: absolute;
     bottom: 50%;
     right: 205%;
     color: white;
     fill: currentColor;

 }

 /* Slideshow container */
 .slideshow-container {  
    position: relative;
    height: 100vh;
    
 }

 /* Next & previous buttons */


 /* Position the "next button" to the right */
 .next {
     right: 0;
     border-radius: 3px 0 0 3px;
 }

 /* On hover, add a black background color with a little bit see-through */


 /* Caption text */
 .text {
     color: var(--dark-blue);
     font-size: var(--font-size-l);
     position: absolute;
     bottom: 40%;
     right: 110%;
     width: 600px;
     
 }

 /* The dots/bullets/indicators */

 .dots{
    position: relative;
    bottom: 15%;
    
 }

 .dot {
     cursor: pointer;
     height: var(--font-size-ms);
     width: var(--font-size-ms);
     margin: 0 2px;
     background-color: whitesmoke ;
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.6s ease;
 }

 .active,
 .dot:hover {
     background-color: var(--blue);
 }
 .dot:hover {
     background-color: var(--blue);
 }


 /* Fading animation */
 .fade {
     -webkit-animation-name: fade;
     -webkit-animation-duration: 1.5s;
     animation-name: fade;
     animation-duration: 1.5s;
 }

 @-webkit-keyframes fade {
     from {
         opacity: .4
     }

     to {
         opacity: 1
     }
 }

 @keyframes fade {
     from {
         opacity: .4
     }

     to {
         opacity: 1
     }
 }

 

 /* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1024px to 1280px
*/

 @media (min-width: 1024px) and (max-width: 1280px) {

    .dot {
       height: var(--font-size-ms);
       width: var(--font-size-ms);
    }
     
     .mySlides {
         max-width: 450px;
         left: 55%;
         top: 15%;
     }
    
    
     .text {
         color: var(--dark-blue);
         font-size: var(--font-size-m);
         position: absolute;
         bottom: 40%;
         right: 100%;
         width: 500px;

     }
     .mySlides img.quotationMark {
         height: 15%;
         width: 15%;
         position: absolute;
         bottom: 50%;
         right: 200%;
         color: white;
         fill: currentColor;

     }
 }

 /* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

 @media (min-width: 768px) and (max-width: 1023px) {
    
    .text {
        color: var(--dark-blue);
        font-size: var(--font-size-m);
        position: absolute;
        bottom: 30%;
        right: 120%;
        width: 200px;
        text-align: center;

    }
    .mySlides {
        
        max-width: 380px;
        position: relative;
        left: 50%;
        top: 30%;
    }
    .mySlides img.quotationMark {
        height: 10%;
        width: 10%;
        bottom: 67%;
        right: 158%;
    }

    .dot {
        height: var(--font-size-s);
        width: var(--font-size-s);
    }
 }

 /* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

 @media (min-width: 481px) and (max-width: 767px) {
    .dot {
        height: var(--font-size-s);
        width: var(--font-size-s);
    }

    .text {
        color: var(--dark-blue);
        font-size: var(--font-size-ms);
        bottom: 30%;
        right: 120%;
        width: 200px;
        text-align: center;

    }
    .mySlides {
        max-width: 250px;   
        left: 50%;
        top: 30%;
    }

    .mySlides img.quotationMark {
        height: 10%;
        width: 10%;
        bottom: 65%;
        right: 185%;
    }
    

 }

 /* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

 @media (min-width: 320px) and (max-width: 480px) {
    .mySlides {
        left: 0%;
        top: 0%;
    }

    .mySlides img {
        vertical-align: middle;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        max-width: none;
    }
    .mySlides img.quotationMark {
        position: absolute;
        top: 28%;
        left: 13%; 
    }
    

    .text {
        left: 25%;
        line-height: 1.3;
        top: 35%;
        color: #f2f2f2;
        font-size: var(--font-size-m);
        width: 250px; 
        text-align: start;
    }  
    
 }