@import url("variables.css");

/* section layout */
#meet_us {
    display: flex;
    flex-direction: column;
    max-height: none;
    align-content: center;
    justify-content: center;
}
#template-title-right {
    align-self: flex-end;
}
#meet_us_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding: 20px;
    max-height: none;
    margin-left: 10%;
    margin-right: 10%;

}
/* mobile hide / show style */
#meetus_expand {
    width: 80%; 
    height: 130px;
    text-align: center;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 10%;
    border: lightgray solid 1px;
}

#meetus_expand p:first-child{
    display: flex;
    align-self: center;
    font-family: var(--oswald-font);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-bold);
    padding-top: 5%;
    
}

#meetus_expand p {
    display: flex;
    align-self: center;
    font-family: var(--noto-font);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-semi-bold);
    color: var(--dark-blue);
    padding-top: 5%;
}
#meetus_expand_button {
    width: 80%;
    height: 70px;
    background-color: var(--very-light-green);
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    border-left: lightgray solid 1px;
    border-right: lightgray solid 1px;
    border-bottom: lightgray solid 1px;

}

#meetus_expand_button:hover {
    background-color: var(--light-green)
}

#meetus_expand_button p{
    
    text-align: center;
    line-height: 70px;
    font-family: var(--noto-font);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-semibold);
    color: black;
    width: 100%;
    
    
}

/* mobile hide / show style */

/* styling for each person */
.meet_us_person {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "img img img img img img"
        "textBig textBig textBig textBig textBig textBig"
        "textSmall textSmall textSmall textSmall textSmall textSmall"
        ". . messenger envelope . ." ;
    font-family: var(--oswald-font);
    grid-row-gap: 5px;
    border: 1px solid lightgrey;
    padding: 25px 50px 25px;
    width: 100%;
    
    justify-self: center;
    
    
}

.meet_us_person:hover{
    background-color: var(--very-light-green);
}

.meet_us_person img{
    max-height:  180px;
    padding-bottom: 10px;
}

.meet_us_person .meet_us_img_bottom {
    grid-area: img;
    display: flex;
    border-radius: 50%;
    justify-self: center;
}


.meet_us_person .meet_us_text1 {
    grid-area: textBig;
    font-size: var(--font-size-m);
    color: var(--dark-blue);
    text-align: center;
}

.meet_us_person .meet_us_text2 {
    grid-area: textSmall;
    text-align: center;
    font-family: var(--noto-font);
    font-size: var(--font-size-s);
    display: flex;
    align-self: center;
    justify-self: center;
}

.meet_us_person .meet_us_messenger {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-area: messenger;
    transform: scale(0.6);
    transition: transform .2s;
    padding-bottom: 0;
}

.meet_us_person .meet_us_messenger:hover {  
     transform: scale(1);
     cursor: pointer;  
}

.meet_us_person .meet_us_envelope {
    grid-area: envelope;
    transform: scale(0.6);
    justify-self: center;
    align-self: center;
    transition: transform .2s;
    padding-bottom: 0;
}

.meet_us_person .meet_us_envelope:hover {
     transform: scale(1);
     cursor: pointer;   
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    #meet_us_grid {
        grid-template-columns: 1fr 1fr;

    }
    .meet_us_person {
        width: 90%;
        height: 95%;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

     #meet_us_grid {  
         grid-template-columns: 1fr 1fr;
         margin-left: 0px;
         margin-right: 0px;

     }
     .meet_us_person {
         width: 90%;
         height: 95%;
     }
     .meet_us_person .meet_us_messenger {
         
        transform: scale(0.8);
         
     }
     .meet_us_person .meet_us_envelope {

         transform: scale(0.8);

     }
     .meet_us_person img {
         max-height: 150px;
     }
     .meet_us_person .meet_us_text1 {
         
         font-size: var(--font-size-s);
         
     }

     .meet_us_person .meet_us_text2 {
         
         font-size: var(--font-size-xs);
     }

}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 480px
*/

@media (min-width: 320px) and (max-width: 480px) {

    #meet_us_grid {    
        grid-template-columns: 1fr;
        height: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .meet_us_person img {
        max-height: 150px;
    }
    .meet_us_person{
        width: 90%;
        height: 90%;
    }
    .meet_us_person .meet_us_text1 {

        font-size: var(--font-size-s);

    }

    .meet_us_person .meet_us_text2 {

        font-size: var(--font-size-xs);
    }
    .meet_us_person .meet_us_messenger {
        
        padding-bottom: 10px;
    }
    .meet_us_person .meet_us_envelope {

        padding-bottom: 10px;
    }
}