@import url("variables.css");

#mentors, #students{
  display: flex;
  flex-direction: column;
  max-height: none;
  align-content: center;
  justify-content: center;
  overflow-x: hidden;
}

#students {
  padding-top: 15px;
  margin-bottom: -60px;
}

.align-items-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.align-items-left{
  padding: 40px;
  width: 40%;
  flex-direction: row;
  align-items: flex-start;
}

.mentors, .students{
  font-family: var(--noto-font);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  position: relative;
}

.mentors-contact-button{
  font-family: var(--noto-font);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  text-align: center;
}
.mentors-list > li:before{
  content: " - ";
}

.mentors {
  margin-bottom: -250px;
  z-index: 1;
}

.horizontal-line-students {
  display: flex;
  margin-right: 80%;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.align-items-left > img {
  padding-right: 15px;
}

.mentors-list > li {
  padding: 15px;
}

.mentors > .Mouse-over-it{
  margin-left: 15px;
}

.students > .Mouse-over-it{
  margin-top: 15px;
}

.Mouse-over-it {
  width: 80%;
}

.mentors-list {
  margin-top: 25px;
  margin-right: 50px;
  margin-bottom: 15px;
}


.align-items-right {
  margin-right: 0;
}

.mentors-container {
    max-width: 40%;
    align-content: end;
    line-height: 1.5;
    align-items: end;
    margin-right: 15px;
    margin-left: auto;
}

.students-container {
  max-width: 100%;
  align-content: center;
  line-height: 1.5;
  text-align: justify;
  margin-left: 0;
  margin-right: auto;
}

.students-container .Mouse-over-it{
  width: 40%;
  margin-left: 40px;
}

  .students-img-mobile {
    display: none;
  }

  .students-img-desktop{
    display: inline;
    position: relative;
    left: 60%;
    top: -120px;
  }


@media (max-width: 1200px) {

/* GENERAL */
  .Mouse-over-it {
    width: 100%;
  }
/* GENERAL */

  /* MENTORS */
  .mentors {
    font-size: calc(var(--font-size-s) - 3px);
    margin-bottom: 0;
    z-index: 0;
  }

  .mentors-container {
      max-width: 100%;
  }
  /* MENTORS */

  /* STUDENTS */
  .students {
    font-size: calc(var(--font-size-s) - 3px);
  }

  #students{
    margin-bottom: -200px;
  }

  .students-container {
    max-width: 100%;
    /* text-align: justify; */
  }

  .students-container .Mouse-over-it {
    width: 50%;
    margin-left: 40px;
  }

  .students-container .align-items-left{
    width: 50%;
  }

  .students-img-desktop{
    left: 60%;
    top: -250px;
  }
  /* STUDENTS */

}

@media (max-width: 992px) {

  /* MENTORS */
  .mentors-container {
      max-width: 100%;
      margin-right: auto;
  }

  .mentors-list {
  margin-right: 25px;
  }
  /* MENTORS */

  /* STUDENTS */

  #students{
    margin-bottom: 0;
  }

  .students-container .Mouse-over-it{
    margin-top: 0;
    width: 70%;
  }

  .students-container .align-items-left{
    width: 70%;
    padding-bottom: 0;
  }


    .students-img-mobile {
      display: block;
      left: 0;
      bottom: 0;
      width: 100%;
    }

    /* GRRR risky code */
    .students-img-mobile > img {
      padding-left: 40%;
    }
    /* GRRR risky code */

  .students-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .students-img-desktop{
    display: none;
    width: 0;
    height: 0;
  }
  /* STUDENTS */

}

@media (max-width: 768px) {

/* GENERAL */
  .align-items-right {
  margin-right: 0;
  align-items: center;
  }
/* GENERAL */

/* MENTORS */
  .mentors-container .Mouse-over-it{
    width: 100%;
  }

  .mentors-container {
    max-width: 70%;
  }

  .mentors-list {
    margin-right: 0;
  }
/* MENTORS */

/* STUDENTS */
  .students-container {
    max-width: 70%;
    /* text-align: justify; */
  }

  .students-container .align-items-left {
    align-items: center;
    width: 100%;
    margin-top: 25px;
    padding: 0;
  }

  .students-container .Mouse-over-it{
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }

  .students-img-mobile > img {
    padding-left: 30%;
  }
/* STUDENTS */
}

@media (max-width: 576px) {
  .students-img-mobile > img {
    padding-left: 25%;
  }
}
