@import url("variables.css");

#mentors, #students{
  display: flex;
  flex-direction: column;
  max-height: none;
  align-content: center;
  justify-content: center;
}

.align-items-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.students-box-container {
  display: flex;
  flex-direction: row;
}

.align-items-left{
  padding: 40px;
  width: 30%;
  flex-direction: row;
  align-items: flex-start;
}

.mentors, .students{
  font-family: var(--noto-font);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  position: relative;
}

.mentors-contact-button{
  font-family: var(--noto-font);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  text-align: center;
}
.mentors-list > li:before{
  content: " - ";
}

.mentors {
  margin-bottom: -250px;
  z-index: 1;
}

.horizontal-line-students {
  display: flex;
  margin-right: 80%;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.align-items-left > img {
  padding-right: 15px;
}

/* STANDARD */
.mentors-list > li {
  padding: 15px;
}

.mentors > .Mouse-over-it{
  margin-left: 15px;
}

.students > .Mouse-over-it{
  margin-top: 15px;
}

.students-mouse-over {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 55%;
}

.mentors-list {
  margin-top: 25px;
  margin-right: 50px;
  margin-bottom: 15px;
}

.align-items-right {
margin-right: 50px;
}
