
.partners-container{
    display: grid;
    max-height: 100%;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    grid-gap: 30px;
}

.partners-container figure img{
    height: 200px;
    width: auto;
}
.partners-container figure{
    display: flex;
    align-items:center;
    justify-content: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .partners-container {
        
    grid-template-columns: 1fr 1fr;
       grid-gap: 20px;
        
    }

    .partners-container figure img {
        height: 150px;
       
    }

   
}

@media (min-width: 481px) and (max-width: 767px) {
    .partners-container {
        
        grid-template-columns: 1fr;
        
        grid-gap: 50px;
    }

    .partners-container figure img {
        height: 150px;
       
    }

   
}

@media (min-width: 1822px)  {
    .partners-container {
        margin-top: 100px;
        margin-bottom: 100px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

    .partners-container figure img {
        height: 200px;

    }


}

@media (min-width: 1025px) {

    .partners-container {

        margin-top: 100px;
        margin-bottom: 50px;

    }

}

@media  (max-width: 480px) {
    .partners-container {

        grid-template-columns: 1fr;
    }

    .partners-container figure img {
        height: 100px;

    }
    


}
