@import url("variables.css");

section {
    padding-top: 80px;
}

section #home {
    padding-top: 0px;
}
/* Applies styling to tiltes */

.template-title,
.template-title-right {
    color: var(--very-light-green);
    font-family: var(--oswald-font);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
    background-color: var(--dark-blue);
    box-sizing: border-box;
    width: 55%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* Applies in case of tiltes attached to right side */
.template-title-right {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 4fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    height: 90vh;
}

.Mouse-over-it {
    font-family: var(--noto-font);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);
    min-height: 60px;
    width: 30%;
    display: flex;
    transition: 1s;
    justify-content: center;
    align-items: center;
}

.Mouse-over-it a {
    padding-right: 15px;
    color: black;
    text-decoration: none;

}

.Mouse-over-it:hover {
    transition: 0.5s;
    background-color: var(--very-light-green);
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

/* Need to change design for grid elements */

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {


}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 480px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .template-title,
    .template-title-right {
        font-size: var(--font-size-ms);
        width: 80%;
        height: 45px;
    }
}
