:root{
    /* colors */
    --light-green: #81c6a5;
    --green: #25a69a;
    --light-blue: #2b50a3;
    --blue: #1d4ba0;
    --dark-blue: #20295d;
    
    /* fonts */
    --oswald-font: 'Oswald', sans-serif;
    --noto-font: 'Noto Serif', serif;

    /* font-weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* font-sizes */
    --font-size-xl: 60px;
    --font-size-l: 48px;
    --font-size-m: 36px;
    --font-size-ms: 28px;
    --font-size-s: 21px;
    --font-size-xs: 16px;
}
